* {
    margin: 0;
}

body {
    background-color: #0E0E0E;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.block-entier {
    background: #565555;
    width: 1200px;
    height: 300px;
    margin: 20% auto;
}

#block-inside {
    margin: auto;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

blockquote, .janice, .rond, .nanice {
    margin:auto;
    line-height: 1.8em;
}


.block-orange {
    background-color: #F67828;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 60% 20% 20%;
}

blockquote {
    font-size: 1.1em;
    padding-left: 100px;
}

blockquote::before {
    background: url(./img/quote-icon2.png);
    content: '';
    color: blue;
    width: 50px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: -45px;
    margin-top: -10px;
}

.block-rose {
    background-color: #EE396C;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 20% 20% 60%;
}

.rond {
    color: #565555;
    font-size: .6em;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #CCCCCC;
}

.six {
    padding: 20px 13px;
}

.janice {
    text-align: right;
}

.nanice {
    text-align: left;
}

.gauche {
    margin-left: 60%;
}

.droite {
    margin-right: 60%;
}